New location for files in bitbucket.

<h2>Accomplishments</h2>
<dl>
	<dd><a href="https://bitbucket.org/jkowalkowski/heponhpc-data/raw/95042f1ac8132fcd2a47a8af56f94ef5153da9f1/highlights//accomplishment-rational-approx-2020.pdf">2020 Rational functions approximations for HEP applications</a>.</dd>
	<dd><a href="https://bitbucket.org/jkowalkowski/heponhpc-data/raw/95042f1ac8132fcd2a47a8af56f94ef5153da9f1/highlights//accomplishment-generator-automated-2020.pdf">2020 Automated physics event generator tuning</a>.</dd>
	<dd><a href="https://bitbucket.org/jkowalkowski/heponhpc-data/raw/95042f1ac8132fcd2a47a8af56f94ef5153da9f1/highlights//accomplishment-generator-metrics-2020.pdf">2020 Objective Performance Metrics for Event Generator Tuning</a>.</dd>
	<dd><a href="https://bitbucket.org/jkowalkowski/heponhpc-data/raw/95042f1ac8132fcd2a47a8af56f94ef5153da9f1/highlights//accomplishment-generator-bilevel-2020.pdf">2020 Automatic physics event generator tuning with bilevel optimization</a>.</dd>
	<dd><a href="https://bitbucket.org/jkowalkowski/heponhpc-data/raw/95042f1ac8132fcd2a47a8af56f94ef5153da9f1/highlights//accomplishment-generator-robust-2020.pdf">2020 Robust Optimization for Parameter Tuning of HEP Event Generators</a>.</dd>
	<dd><a href="https://bitbucket.org/jkowalkowski/heponhpc-data/raw/95042f1ac8132fcd2a47a8af56f94ef5153da9f1/highlights//accomplishment-atlas-analysis-2020.pdf">2020 Configurable data analysis workflow for HEP experiment</a>.</dd>

	<dd><a href="https://bitbucket.org/jkowalkowski/heponhpc-data/raw/95042f1ac8132fcd2a47a8af56f94ef5153da9f1/highlights//accomplishment-nova-sterile-neutrinos-2019.pdf">2019 NOvA Validation of 3+1 neutrino oscillations parameter estimation</a>.</dd>
	<dd><a href="https://bitbucket.org/jkowalkowski/heponhpc-data/raw/95042f1ac8132fcd2a47a8af56f94ef5153da9f1/highlights//accomplishment-nova-numu-cc-crosssection-2019.pdf">2019 Neutrino-nucleus interactions for neutrino oscillation experiments</a>.</dd>
	<dd><a href="https://bitbucket.org/jkowalkowski/heponhpc-data/raw/95042f1ac8132fcd2a47a8af56f94ef5153da9f1/highlights//accomplishment-nova-fc-2019.pdf">2019 NOvA 3-flavor neutrino oscillations parameter measurement</a>.</dd>
	<dd><a href="https://bitbucket.org/jkowalkowski/heponhpc-data/raw/95042f1ac8132fcd2a47a8af56f94ef5153da9f1/highlights//accomplishment-rational-poly-2019.pdf">2019 Rational functions for better approximations in HEP applications</a>.</dd>
	<dd><a href="https://bitbucket.org/jkowalkowski/heponhpc-data/raw/95042f1ac8132fcd2a47a8af56f94ef5153da9f1/highlights//accomplishment-sbnfit-2019.pdf">2019 Accelerating SBNFit Fitting Framework on HPC</a>.</dd>
	<dd><a href="https://bitbucket.org/jkowalkowski/heponhpc-data/raw/95042f1ac8132fcd2a47a8af56f94ef5153da9f1/highlights//accomplishment-generators-2019.pdf">2019 Massively parallel Monte Carlo simulations with HPC</a>.</dd>
	<dd><a href="https://bitbucket.org/jkowalkowski/heponhpc-data/raw/95042f1ac8132fcd2a47a8af56f94ef5153da9f1/highlights//accomplishment-hdf5-generator-2019.pdf">2019 Configurable data analysis workflow for HEP experiment</a>.</dd>
	<dd><a href="https://bitbucket.org/jkowalkowski/heponhpc-data/raw/95042f1ac8132fcd2a47a8af56f94ef5153da9f1/highlights//accomplishments-hepnos-2019.pdf">2019 Parallel neutrino candidate selection using HEPnOS</a>.</dd>
	<dd><a href="https://bitbucket.org/jkowalkowski/heponhpc-data/raw/95042f1ac8132fcd2a47a8af56f94ef5153da9f1/highlights//accomplishment-pandana-2019.pdf">2019 PandAna: An environment for scalable high-level HEP analysis on HPC</a>.</dd>
	<dd><a href="https://bitbucket.org/jkowalkowski/heponhpc-data/raw/95042f1ac8132fcd2a47a8af56f94ef5153da9f1/highlights//accomplishment_workflow_automation_2019.pdf">2019 Workflow Automation Studies for Tuning</a>.</dd>

	<dd><a href="https://bitbucket.org/jkowalkowski/heponhpc-data/raw/95042f1ac8132fcd2a47a8af56f94ef5153da9f1/highlights//accomplishment-nova-fc-hepcloud-2018.pdf">2018 NOvA Neutrino plus Anti-neutrino Analysis</a>.</dd>
	<dd><a href="https://bitbucket.org/jkowalkowski/heponhpc-data/raw/95042f1ac8132fcd2a47a8af56f94ef5153da9f1/highlights//accomplishment-rational-approx-2018.pdf">2018 Rational approximations for physics signal modeling</a>.</dd>
	<dd><a href="https://bitbucket.org/jkowalkowski/heponhpc-data/raw/95042f1ac8132fcd2a47a8af56f94ef5153da9f1/highlights//accomplishment-diy-generator-2018.pdf">2018 Parallel physics event generation with DIY on HPC</a>.</dd>
	<dd><a href="https://bitbucket.org/jkowalkowski/heponhpc-data/raw/95042f1ac8132fcd2a47a8af56f94ef5153da9f1/highlights//accomplishment-generator-automated-2018.pdf">2018 Automated physics event generator tuning</a>.</dd>
	<dd><a href="https://bitbucket.org/jkowalkowski/heponhpc-data/raw/95042f1ac8132fcd2a47a8af56f94ef5153da9f1/highlights//accomplishment-generator-bilevel-2018.pdf">2018 Automatic physics event generator tuning with bilevel optimization</a>.</dd


Using links from sharepoint.   Warning: using these links requires first accessing the directory where the
hihglights live.   Strange security feature from one-draving sharing.

<h2>Accomplishments</h2>
<dl>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-rational-approx-2020.pdf">2020 Rational functions approximations for HEP applications</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-generator-automated-2020.pdf">2020 Automated physics event generator tuning</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-generator-metrics-2020.pdf">2020 Objective Performance Metrics for Event Generator Tuning</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-generator-bilevel-2020.pdf">2020 Automatic physics event generator tuning with bilevel optimization</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-generator-robust-2020.pdf">2020 Robust Optimization for Parameter Tuning of HEP Event Generators</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-atlas-analysis-2020.pdf">2020 Configurable data analysis workflow for HEP experiment</a>.</dd>

	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-nova-sterile-neutrinos-2019.pdf">2019 NOvA Validation of 3+1 neutrino oscillations parameter estimation</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-nova-numu-cc-crosssection-2019.pdf">2019 Neutrino-nucleus interactions for neutrino oscillation experiments</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-nova-fc-2019.pdf">2019 NOvA 3-flavor neutrino oscillations parameter measurement</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-rational-poly-2019.pdf">2019 Rational functions for better approximations in HEP applications</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-sbnfit-2019.pdf">2019 Accelerating SBNFit Fitting Framework on HPC</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-generators-2019.pdf">2019 Massively parallel Monte Carlo simulations with HPC</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-hdf5-generator-2019.pdf">2019 Configurable data analysis workflow for HEP experiment</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishments-hepnos-2019.pdf">2019 Parallel neutrino candidate selection using HEPnOS</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-pandana-2019.pdf">2019 PandAna: An environment for scalable high-level HEP analysis on HPC</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment_workflow_automation_2019.pdf">2019 Workflow Automation Studies for Tuning</a>.</dd>

	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-nova-fc-hepcloud-2018.pdf">2018 NOvA Neutrino plus Anti-neutrino Analysis</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-rational-approx-2018.pdf">2018 Rational approximations for physics signal modeling</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-diy-generator-2018.pdf">2018 Parallel physics event generation with DIY on HPC</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-generator-automated-2018.pdf">2018 Automated physics event generator tuning</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-generator-bilevel-2018.pdf">2018 Automatic physics event generator tuning with bilevel optimization</a>.</dd>
	<dd><
