
https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/HEPonHPCOrgChart.png

example of using link directly:
<a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-nova-fc-hepcloud-2018.pdf?download=1">this is a test.</a>
<a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-nova-fc-hepcloud-2018.pdf">this is a test.</a>

Accomplishments
<dl>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-rational-approx-2020.pdf">2020 Rational functions approximations for HEP applications</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-generator-automated-2020.pdf">2020 Automated physics event generator tuning</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-generator-metrics-2020.pdf">2020 Objective Performance Metrics for Event Generator Tuning</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-generator-bilevel-2020.pdf">2020 Automatic physics event generator tuning with bilevel optimization</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-generator-robust-2020.pdf">2020 Robust Optimization for Parameter Tuning of HEP Event Generators</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-atlas-analysis-2020.pdf">2020 Configurable data analysis workflow for HEP experiment</a>.</dd>

	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-nova-fc-hepcloud-2018.pdf">2018 NOvA Neutrino plus Anti-neutrino Analysis</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-nova-sterile-neutrinos-2019.pdf">2019 NOvA Validation of 3+1 neutrino oscillations parameter estimation</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-nova-numu-cc-crosssection-2019.pdf">2019 Neutrino-nucleus interactions for neutrino oscillation experiments</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-nova-fc-2019.pdf">2019 NOvA 3-flavor neutrino oscillations parameter measurement</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-rational-approx-2018.pdf">2018 Rational approximations for physics signal modeling</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-rational-poly-2019.pdf">2019 Rational functions for better approximations in HEP applications</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-sbnfit-2019.pdf">2019 Accelerating SBNFit Fitting Framework on HPC</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-diy-generator-2018.pdf">2018 Parallel physics event generation with DIY on HPC</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-generators-2019.pdf">2019 Massively parallel Monte Carlo simulations with HPC</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-generator-automated-2018.pdf">2018 Automated physics event generator tuning</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-generator-bilevel-2018.pdf">2018 Automatic physics event generator tuning with bilevel optimization</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-generators-unexploited-2018.pdf">2018 Generator tuning on unexploited data</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-hdf-analysis-2018.pdf">2018 Tools for HPC-scale physics analysis</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-hdf5-generator-2019.pdf">2019 Configurable data analysis workflow for HEP experiment</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-hepnos-2018.pdf">2018 HEPnOS: Fast Event-Store for HEP on HPC</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishments-hepnos-2019.pdf">2019 Parallel neutrino candidate selection using HEPnOS</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-pandana-2019.pdf">2019 PandAna: An environment for scalable high-level HEP analysis on HPC</a>.</dd>
</dl>


SciDAC institute and project interactions
<dl>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment_rapids-parallel-data-concatenation_2019.pdf">2019 Parallel Data Concatenation for Neutrino Event Analysis</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment-rapids-mochi-use-in-hepnos-2019.pdf">2019 HEPnOS: Fast Event-Store for High-Energy Physics (HEP)</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/r/personal/jbk_services_fnal_gov/Documents/hep-on-hpc/highlights/accomplishment_hoeche_scidac_2019.pdf">Numerical Simulations for Collider Physics</a>.</dd>
</dl>


Accomplishments
<dl>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/g/personal/jbk_services_fnal_gov/Ec3iort8mdRImKasNCLe6OMBf6S8DrPVF1GTd4Mr-MPDIA?e=Sbmygf">2018 NOvA Neutrino plus Anti-neutrino Analysis</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/g/personal/jbk_services_fnal_gov/ESovxwLHlmJDtAuWie7JowwBNExDyyloFdT-n6RjpKZdAQ?e=PNBNXJ">2019 NOvA Validation of 3+1 neutrino oscillations parameter estimation</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/g/personal/jbk_services_fnal_gov/EV-2MrGiG4NFtJUGKgPamx8BPm9LgV6uYRqwEAjSnbN6Yw?e=VzYwKJ">2019 neutrino-nucleus interactions for neutrino oscillation experiments</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/g/personal/jbk_services_fnal_gov/EaYFqbyMiANLg1p0IEW0wGgBURx4Zf_ELdNTwoGsqsm9QQ?e=lE5S4J">2019 NOvA 3-flavor neutrino oscillations parameter measurement</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/g/personal/jbk_services_fnal_gov/EY-dynQ9mNFMv_I9XPj09C8BYSJGAD6oHSsudd9BD7pV8g?e=33gwgb">2018 Rational approximations for physics signal modeling</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/g/personal/jbk_services_fnal_gov/EdpTqrPdy51LrqbQ7SfhkB0B4y9i8MclC0UXo-8cviUqsg?e=YOJcZ4">2019 Rational functions for better approximations in HEP applications</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/g/personal/jbk_services_fnal_gov/ES1akZNOiXNIr8ndnY10YKEB6ErOezKO578cDqWvRk5giA?e=JGKrfD">2019 Accelerating SBNFit Fitting Framework on HPC</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/g/personal/jbk_services_fnal_gov/Ef6FwEpIqrxJjFkL2KNfpPUBxscqC3quLNVM0pFvCQpbVg?e=WAZAei">2018 Parallel physics event generation with DIY on HPC</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/g/personal/jbk_services_fnal_gov/EdyxhZi_wqRFqA9yy0DE8iQBfF5v3dxxFwQdxAnl0dgkGQ?e=4obe06">2019 Massively parallel Monte Carlo simulations with HPC</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/g/personal/jbk_services_fnal_gov/EV5HM9lb6wZFqcwVQKoj7EwB3-IgL0EayYFIndzJQ9gajQ?e=IqNZ7b">2018 Automated physics event generator tuning</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/g/personal/jbk_services_fnal_gov/EZSsYsYd_3dJon-Z8UAEFaABYfvCd28YzPZ1m_YbePZuIg?e=ExKc6P">2018 Automatic physics event generator tuning with bilevel optimization</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/g/personal/jbk_services_fnal_gov/ERHg9Q-XS_ZMo7IPjBQ91t8BVtdwsNsAYilr6VFyGWQrTQ?e=NDLAzA">2018 Generator tuning on unexploited data</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/g/personal/jbk_services_fnal_gov/ETDEnUdAMKdAmQUKSRoR5A8Bylhp1wvYhhBBp4rp_7M4Dg?e=CSH4N9">2018 Tools for HPC-scale physics analysis</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/g/personal/jbk_services_fnal_gov/ETlno9SOUtdJlbLD3kwzNFUB-7i-QdT3K3oG8-4zX96fBw?e=ahOvp4">2019 Configurable data analysis workflow for HEP experiment</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/g/personal/jbk_services_fnal_gov/EXummYxdpJdKv-2hJ_AV8nwBN4uPOhhSRl4iTCYvO6H7wA?e=StiApW">2018 HEPnOS: Fast Event-Store for HEP on HPC</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/g/personal/jbk_services_fnal_gov/EW4wPNKx3kxDnP4E92dw2UcBHOYMe2gI0MPoy-s0l9y8Aw?e=koxt4f">2019 Parallel neutrino candidate selection using HEPnOS</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/g/personal/jbk_services_fnal_gov/ESbCP_QapxNEkwwQARk8cVMBLB8OIK3OguEOmXg11kCY3Q?e=TgYDEc">2019 PandAna: An environment for scalable high-level HEP analysis on HPC</a>.</dd>
</dl>

SciDAC institute and project interactions
<dl>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/g/personal/jbk_services_fnal_gov/EY4nImPRjUNLqpa6Hb9nMUIB_bomxY_kw8Nl8J_KWaNi2g?e=sL691O">2019 Parallel Data Concatenation for Neutrino Event Analysis</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/g/personal/jbk_services_fnal_gov/EcdAQVakGJVAkly9M2wZL74B4gDDQreNqYnXhb3qpFAepA?e=hzfFNo">2019 HEPnOS: Fast Event-Store for High-Energy Physics (HEP)</a>.</dd>
	<dd><a href="https://fermicloud-my.sharepoint.com/:b:/g/personal/jbk_services_fnal_gov/EaK7hgXI1e1GrMFXfYZU458BQCn0bsL7aVya3kBKsVHC-w?e=9M0MWl">Numerical Simulations for Collider Physics</a>.</dd>
</dl>

<p>
Missing slides are 
interactions with institutes (FASTMath, RAPIDS), 
interactions with SciDACs (Giuseppe, Stefan, Eric), 
interactions with experiments and projects outside the project (ICARUS, SBN, Exa.TrkX).

What about the ATLAS analysis work? 
What about the variable selection stuff?
</p>

